<div class='row text-center small-10 medium-10' id="interactions_form">
  <h1>Create a new interaction</h1>
  <div class="large-12 columns">
    <div class='panel sentence_explanation '>
      <p>
        <strong> Adding a sentence:</strong> Your BAE will look for exactly that sentence and it will send back the response.
      </p>
    </div>

    <div class='panel keyword_explanation '>
      <p>
        <strong>Adding a keyword:</strong> Your BAE will look for one keyword and the right sentiment in your text and if it finds it, it will return the response.
      </p>
    </div>

    <div class='panel combo_explanation'>
      <p>
        <strong>Adding a combo:</strong> Your BAE will look for a combination of keywords and the right sentiment in your text and if it finds it, it will return the response.
      </p>
    </div>

    <div class='row'>
      <div class='panel column large-3 small-12'>
        <p>
          Once you create an interaction and add it to your BAE, it will be part of that BAE's vocabulary.
        </p>
        <p>
          Your BAE will try to find your sentence, keyword or combination of Keywords in your text messages
          in order to give you the right response
        </p>
      </div>
      <div class='column large-9 small-12'>
        <%= render 'form' %>
      </div>
    </div>

    <div class='panel keyword_explanation column large-9 small-12 large-offset-3' id="sentiment=box">
      <h3 id="sentiment_preview_tittle">Sentiment Preview</h3>
        <div class="column large-6 small-12" id="preview_box">
          <br>
        <p>
          Any text message that you send, will be classified, depending on your state of happiness, between <strong>"Positive", "Neutral" or "Negative"</strong>.
          You will get the response associated only if you are actually in that state of happiness.
        </p>
        <p>
          <strong>Try your text message</strong> and get your sentiment!
        </p>
        <br>

      </div>
      <div class='row'>
        <div class="column large-6 small-12">
          <div class='column large-12 small-12 sentiment-fields'>
              <p id="sentence_explanation">Write a sentence to get a sentiment preview</p>
              <form>
                <input type="text" name="message">
                <input type="submit" value="Preview"  class="button expand" id="preview">

                <hr>
                <h6 id="sentiment"></h6>
              </form>
          </div>
      </div>
      </div>
    </div>
  </div>
</div>
