<div class="row text-center">
  <div class="panel large-4 columns">
    <h1><%= @user.username %></h1>
    <h3><%= @user.gender %></h3>
  </div>
  <div class="large-8 columns">
      <%= @user.description %>
  </div>
</div>
