<div class= "small-10 columns">
  <table>
    <thead>
      <tr>
        <th width="100">Sentiment</th>
        <th width="100">Keyword</th>
        <th width="200">Response</th>
      </tr>
    </thead>
    <tbody>
      <% @interactions.each do |interaction| %>
        <% if interaction.keyword1 != nil && interaction.keyword2 == nil %>
          <tr>
            <td><%= interaction.sentiment %></td>
            <td><%= interaction.keyword1 %></td>
            <td><%= interaction.response %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
