<div class= "small-10 columns">
  <table>
    <thead>
      <tr>
        <th width="100">Sentiment</th>
        <th width="100">Keyword</th>
        <th width="200">Response</th>
      </tr>
    </thead>
    <tbody>
      <% @keywords.each do |row| %>
        <tr>
          <td><%= row.sentiment %></td>
          <td><%= row.keyword1 %></td>
          <td><%= row.response %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
