<div class= "small-10 columns">
  <table>
    <thead>
      <tr>
        <th width="200">Sentence</th>
        <th width="150">Response</th>
      </tr>
    </thead>
    <tbody>
      <% @sentences.each do |row| %>
        <tr>
          <td><%= row.sentence %></td>
          <td><%= row.response %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
