<div class= "small-10 columns">
  <table>
    <thead>
      <tr>
        <th width="200">Sentence</th>
        <th width="150">Response</th>
      </tr>
    </thead>
    <tbody>
      <% @interactions.each do |interaction| %>
        <% if interaction.sentence != nil %>
          <tr>
            <td><%= interaction.sentence %></td>
            <td><%= interaction.response %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
