<div class='row text-center'>
  <h1>Edit <%= @bot.name %></h1>

  <%= render 'form' %>
  <div class="large-6 large-centered columns panel">

    <div class="row">
      <div class="large-12 columns">
        <%= link_to 'Delete', bot_path(@bot), data: { confirm: "Are you sure?" }, method: :delete, class: "button expand alert" %>
      </div>
    </div>
  </div>
</div>
