<div class='row text-center'>
  <h1>Welcome</h1>
  <div class='panel small-10 small-offset-1 columns text-center pbm'>
    <div class='row'>
      You are are about to start an incredible experience that will make you
      laugh and it will make you feel good. To get started with our free
      service sign up for an account. You'll be able to have a BAE very soon!
    </div>
    <div class='row'>
      <%= link_to 'Sign Up', new_user_registration_path ,class: "btn-pink button large mtl" %>
    </div>
  </div>
  <div class='row'>
    <div class='panel small-10 small-offset-1 columns text-center pbm'>
      “Folks are usually about as happy as they make their minds up to be.” ~ Abraham Lincoln    </div>
  </div>
</div>
