/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

//paletee of colors #C63D0F #3B3738 #fdf3e7 #7E8F7C //

//General
.login-in {
  padding-top: 8%;
}

body {
  background-color: #fdf3e7;
}

.bot-avatar {
  border: 6px solid #C63D0F;
  border-radius: 1000px;
  height: auto;
  width: 80%;
}

.user-picture {
  border: 5px solid #3B3738;
  border-radius: 800px;
  height: auto;
  width: 65%;
}

.profile-box {
  background-color: #fdf3e7;
  color: #3B3738;
  border-style: none;

}

li {
  list-style-type: none;
}

.bot_box {
  margin-top: 15%;
  padding: 2%;
}

.interaction-box {
  background-color: #fdf3e7;
  color: #3B3738;
  border-style: none;
}

.vocabulary_box {
  margin-top: 10%;
  padding: 2%;
}

.avatar_table {
  height: auto;
  width: 15%;
}

.bot_tables {
  padding: 2%;
  margin: 5%;
}
//Buttons for adding  vocabulary//

.wrapper {
  background: #fff;
  border: 2px solid #008cba;
  border-radius: 999px;
  display: inline-block;
  margin-top: 50px;
  overflow: hidden;
  text-align: center;
  width: 100%;

  &:hover {
    background-color: #008cba;
    border: none;
    transition: background-color 0.3s ease;

    .inside {
      display: block;
      float: left;
      font-size: 16px;
      padding: 22px;

      &:hover {
        background-color: rgba(0, 0, 0, 0.1);
        transition: background-color 0.3s ease;
      }
    }

    label { display: none; }
  }

  .inside {
    color: #fff;
    display: none;
    width: 50%;
    z-index: 9999;
  }

  label {
    color: #008cba;
    font-size: 16px;
    font-weight: bold;
    padding: 16px;
  }
}


// button group bot show page

$primary-color: #008cba;
$secondary-color: #e7e7e7;
$alert-color: #f04124;
$success-color: #43ac6a;
$warning-color: #f08a24;
$info-color: #a0d3e8;

$selected-color: #fa8072;

input[data-toggle] {
  display: none;
}

input[data-toggle]:checked + label,
input[data-toggle]:checked + label:active {
  background-color: $selected-color;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15) inset,
              0 1px 2px rgba(0, 0, 0, 0.05);
}

.button-group.toggle {
  li:not(first-child) {
    margin: 0 -0.9rem;
  }
}

//hidden tables
.hidden {
  display: none;
}


//Shareable bar
.shareable {
  background-color: #fdf3e7;
}
.shareable td {
  text-align: center;
  vertical-align: middle;
}

.user_description {
  padding-top: 20%;
}

.bae_description {
  padding-top: 8%;
}
